.flexRow--deals{
    background: #303030;
}

.flexColChild{
    width: 120px;
    justify-content: center;
    background: #424242;
    margin-right: 20px;
    align-self: auto;
    align-items: flex-start;
}

.flexColChild--icons{
    width: 120px;
    justify-content: center;
    background: #424242;
    margin-left: 0px;
}

.flexCol{
    justify-content: center;
    background: #424242;
}

.flexRowContent--row-header{
    background: #424242;
    justify-content: space-around;  
}

.flexRowContent{
    background: #424242;
}


.clearLink{
    background: #424242;
}