.imageElement{
    width: 25%;
    /* height: 300px; */
    width: auto;
    height: auto;
    object-fit:contain;
    object-position:top;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.logoImage{
    image-orientation: flip;
    size: 100px;
}

.flexColChild{
    justify-content: center;
    align-items: baseline;
    background: #424242;
}

.searchBarContainer{
    background: #424242;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.imageElement--icon1{
    margin-left: 20px;    margin-top: 10px; margin-bottom: -10px;
}

.imageElement--icon2{
    margin-left: 29px;     margin-top: 10px; margin-bottom: -10px;
}

.imageElement--icon3{
    margin-left: 6px;    margin-top: 10px; margin-bottom: -10px;
}

.imageElement--icon4{
    margin-left: 23px;    margin-top: 10px; margin-bottom: -10px;
}

.swiperCaret{
    width: 800px;
    height: 800px;
}