.listContainer {
    justify-content: start;
    font-size: 1px;
}

.listItem{
    font-size: 1px;
    font-style: oblique;
    color-adjust:unset;
    background-color: 303030;
}

.listItem--item1{
    color: aliceblue;
}
