.slideChildrenContainer--carousel{
    background: #303030;
}

.slideChildrenContainer{
    background: #303030;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slideChildrenContainer--shelf{
    background: #303030;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imageElement{
    width: auto;
    height: auto;
    object-fit:contain;
    object-position:top;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.listContainer{
    width: auto;
    height: auto;
    object-fit:contain;
    object-position:top;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.slideLayoutContainer{
    background: #303030;
}

.slide{
    background: #303030; 
}

.slide--rick{
    background: #424242; 
}



.paginationDot{
    opacity: 0;
}

.slideChildrenContainer--listas2{
    background-color: #212121;
    padding-top: 5px;
  
  }

  .slideChildrenContainer--rick{
    background-color: #424242;
    padding-top: 5px;
    height: 10px;
  
  }

  .caretIcon{
      size: 5px;
  }



